*{
	margin: 0;
	padding: 0;
}
body{
	background: url('../imgs/6.jpg');
}
.large{
	height: 567px;
	width: 1038px;
	position: relative;
	margin: 35px auto ;
	border: 2px #C2DAD5 solid;
}
.large>img{
	float: left;
	position: absolute;
	height: 567px;
	width: 1038px;
}
.large ul{
	position: absolute;
	left: 90px;
	bottom: 20px;
}
.large li{
	height: 83px;
	width: 152px;
	margin: 10px;
	float: left;
	list-style: none;
}
.large li img{
	height: 83px;
	width: 152px;
	opacity: 0.5;
	transition: 1s;
}
.large li img:hover{
	transform: scale(1.1);
	cursor: pointer;
}
